site_name: SymbolicDSGE Documentation
site_url: https://gongjr0.github.io/SymbolicDSGE
repo_url: https://www.github.com/GongJr0/SymbolicDSGE
repo_name: GongJr0/SymbolicDSGE
copyright: Created by Güney Kıymaç. This project is distributed under the MIT License.
theme:
  name: material

  features:
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - navigation.footer
    - content.link-preview

  font:
    text: Roboto
    code: Fira Code

  logo: assets/logo_w.svg
  favicon: assets/favicon.svg

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: teal
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: teal
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  icon:
    repo: fontawesome/brands/github
    tag:
      info: octicons/info-16
      guide: material/notebook
      doc: material/file-document
    set:
      - material
      - octicons


extra_css:
  - https://unpkg.com/katex@0/dist/katex.min.css
  - stylesheets/extra.css

extra_javascript:
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://www.github.com/GongJr0/
      name: GitHub Profile

    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/guney-kiymac/
      name: LinkedIn Profile

    - icon: fontawesome/regular/envelope
      link: mailto:guneykiymac@gmail.com
      name: Email

  tags:
    info: info
    guide: guide
    doc: doc
  version:
    provider: mike
    default: latest
    alias: true

plugins:
  - privacy:
      links_attr_map:
            target: _blank
  - search
  - tags
  - mike:
      alias_type: symlink
      redirect_template: null
      deploy_prefix: ''
      canonical_version: null
      version_selector: true
      css_dir: stylesheets
      javascript_dir: javascripts

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details

  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

  - pymdownx.arithmatex:
        generic: true

  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true


  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed

nav:
  - Home: index.md
  - Installation: installation.md
  - Guides:
      - Model Configuration Guide: Guides/model_config_guide.md
      - Quick Start: Guides/quickstart.md
      - Kalman Filter Configuration Guide: Guides/kalman_config_guide.md
  - Documentation:
      - ModelConfig: Documentation/ModelConfig.md
      - ModelParser: Documentation/ModelParser.md
      - DSGESolver: Documentation/DSGESolver.md
      - CompiledModel: Documentation/CompiledModel.md
      - SolvedModel: Documentation/SolvedModel.md
      - Shock: Documentation/Shock.md
      - KalmanConfig: Documentation/KalmanConfig.md
      - Utilities:
          - FRED: Documentation/Utilities/FRED.md
          - KalmanFilter: Documentation/Utilities/KalmanFilter.md
          - math_utils: Documentation/Utilities/math_utils.md
  - Contact: contact.md
